.logo img {
    width: 30px;
    padding-right: 15px;
}

.logo_textoLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 25px;
    padding-left: 100px;
    align-self: flex-start;
    width: 35%;

}

.texto_logo {
    text-align: center;
    padding-bottom: 5px;
}

.texto_logo a {
    color: aliceblue;
    text-decoration: none;

}

.texto_logo a:hover {
    text-decoration: underline;

}

.headerP {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(/images/camara4-1-868x644.jpg);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.navegacao {
    width: 42%;
    padding-top: 33px;
    display: flex;
    justify-content: space-around;
}

.navegacao div {
    align-content: space-between;
}

.navegacao a {
    color: aliceblue;
    text-decoration: none;
    font-size: 10px;
}

.navegacao a:hover {
    text-decoration: underline;
}

.ancoraDeputados {
    width: 100%;
}

.p1_ancoraDeputados {

    font-size: 45px;
    padding: 10px;
}

.ancoraDeputados p {
    color: aliceblue;

}

.p2_ancoraDeputados {
    padding-bottom: 25px;
}

.ancoraDeputados div {
    text-align: center;
}

.ancoraDeputados button {
    background-color: #141941;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 12px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
}

.ancoraDeputados button:hover {
    background-color: #444b81;
}

.deputadosCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.deputadosCards img {
    display: block;
    width: 150px;
    height: 200px;
    text-align: center;
    line-height: 180px;


}


.deputadosCards hr {
    width: 100%;
    visibility: hidden;
}

.deputadosCards p {
    text-align: center;
}

.textCard {
    border: 1px solid rgba(141, 139, 139, 0.3);
    padding-bottom: 15px;
    padding-top: 15px;

    word-wrap: break-word;
}

.textCardP {
    padding-bottom: 15px;
    padding-top: 25px;

    word-wrap: break-word;
}

.divCard {
    padding: 30px;
    width: 150px;
}

.divCardP {
    padding: 40px;
    width: 150px;
}

.pesquisaDeputados {
    text-align: center;
    padding-top: 60px;
}

.pesquisaDeputados div {
    padding: 20px;
}

.pesquisaDeputados input[type=text] {

    width: 400px;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;


}

.pesquisaDeputados button {
    background-color: #141941;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 16px 180px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
}

.pesquisaPartidos {
    text-align: center;
    padding-top: 60px;
}

.pesquisaPartidos div {
    padding: 20px;
}

.pesquisaPartidos input[type=text] {

    width: 400px;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

.pesquisaPartidos button {
    background-color: #141941;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 16px 180px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
}


.partidosCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.partidosCards img {
    display: block;
    width: 150px;
    height: 123.683px;
    text-align: center;
    line-height: 180px;
}

.partidosCards hr {
    width: 100%;
    visibility: hidden;
}

.partidosCards p {
    text-align: center;
}
